doctype html
html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin="anonymous")
        //link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css')
        link(rel='stylesheet', href="/ol-ext-master/dist/ol-ext.css")


        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js')
        script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
        script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        //script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js', integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd", crossorigin="anonymous")
        //script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/d7b463c1bc.js")
        //script(src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js")
        script(src="https://npmcdn.com/@turf/turf/turf.min.js")
        script(type='text/javascript' src="/javascripts/constants.js")
        script(type='text/javascript' src="/javascripts/funciones.js")
        script(type='text/javascript' src="/javascripts/layers.js")
        script(type='text/javascript' src="/ol-ext-master/dist/ol-ext.js")

    body
        block content
