doctype html
html
    head
        title= "Inicio de Sesión"
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel='stylesheet', href='/css/main.css')

    body.login
        block content
            h1.text-center Geolocalización de objetos móviles
        .wrapper
                .container
                    .col-sm-6.mx-auto
                        .card.mt-5
                            .card-body
                                h1.text-center
                                    span.fa.fa-sign-in-alt  Inicio de sesión
                                if(message.length>0)
                                    .alert.alert-danger #{message}
                                form(action="/login" method="post")
                                    .form-group
                                        label(for="Email") Email
                                        input.form-control(type="email" name="email")
                                    .form-group
                                        label(for="Password") Contraseña
                                        input.form-control(type="password" name="password")
                                    input.btn.btn-dark.btn-lg(type="submit")
                                hr
                                .text-center
                                    p ¿Tienes usuario y contraseña?
                                        a(href="/register") Registro


