extends layout

block content
    div#toolbar.intro.container-fluid.col-md-12
        div.col-md-8
        div.col-md-4.hidden-xs(style="padding:0px;") Geolocalización de objetos móviles
    .map#map
    #mouse-position
    //#popup.ol-popup
    //    a#popup-closer.ol-popup-closer(href='#')
    //    #popup-content
    //div.loading
    //    i.fa.fa.fa-spinner.fa-pulse
    //    "Loading data..."
    div(style="display: none;")
        #marker(title="Marker")
    div.btn-group(role="group" style="position: absolute; right: 3em; top: 60px;")
        div.btn.btn-default.selected#mapOSM(type="button" style="visibility:visible; background: url(/images/mapOSM.jpg)" onclick="toggleOSMLayer()") OSM
        div.btn.btn-default#mapPNOA(type="button" style="visibility:visible; background: url(/images/mapPNOA.jpg)" onclick="togglePNOALayer()") PNOA
    div.col-md-1(style="position: absolute; right: 1em; bottom: 60px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formVehicle" style="position: absolute; right: 3em; ") Add Vehicle
    div.col-md-1(style="position: absolute; right: 1em; bottom: 95px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formDriver" style="position: absolute; right: 3em; ") Add Driver
    div.col-md-1(style="position: absolute; right: 1em; bottom: 130px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formVehicleDriver" style="position: absolute; right: 3em; ") Vehicle-Driver
    a.toggleSettings
        i.fa.fa-bars
    div#alerts
    div#tools
        header.logoHeader Panel de búsqueda
        .panel.with-nav-tabs.panel-default
            .panel-heading
                ul.nav.nav-tabs
                    li.active
                        a#tab-vehicles(href='#tab_vehicles_results', data-toggle='tab') Vehículos
                    li
                        a#tab-drivers(href='#tab_drivers_results', data-toggle='tab') Conductores
            .panel-body
                .tab-content
                    #tab_vehicles_results.tab-pane.fade.in.active
                        div#vehicles_results
                    #tab_drivers_results.tab-pane.fade
                        div#drivers_results
    p#warning(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;')  Ugh! it&apos;s a bit long!
        br
        p "Try to go on searching..."
    p#notfound(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') Sorry, there is no route to go there!
    p#notfound0(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') You&apos;re allready there!
    p#result(style='background:#0b0; color:#fff; padding:.5em; display:none; position: absolute; right: 3em; top: 150px') Found it!
        br
        p "Distance:"
        span

    //form.flotante(method="post" action="/coords")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Id
    //        input(type="text" id='identifier' class="form-control" placeholder="Id")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coo/positionrd X
    //        input(type="text" id='coord_x' class="form-control" placeholder="Coord X")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coord Y
    //        input(type="text" id='coord_y' class="form-control" placeholder="Coord Y")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text fecha
    //        input(type="text/javascript" id='fecha' class="form-control" placeholder="Fecha")
    //    input(type="submit" value="Send")
    script(type='text/javascript').
        //$(document).ready(function() {
        //import {dibujaPosicion} from '../routes/modules/common'
        // import TileWMS from 'https://github.com/openlayers/openlayers/blob/master/src/ol/source/TileWMS.js';
        /*
        const root = 'http://localhost:3000';
        // const root = 'https://avillena-pfg.herokuapp.com';
        */

        //-------******CONSTANTS*******-------
        // offsets for vehicles layers
        const OFFSET_UP = 3;
        const OFFSET_DOWN = 3;


        // variable that will house vehicles JSON features
        var vehiclesJSON = {};
        var numVehicles = 0;

        var projection = ol.proj.get('EPSG:3857');
        var projectionExtent = projection.getExtent();
        var size = ol.extent.getWidth(projectionExtent) / 256;
        var resolutions = new Array(14);
        var matrixIds = new Array(14);
        for (var z = 0; z < 22; ++z) {
            // generate resolutions and matrixIds arrays for this WMTS
            resolutions[z] = size / Math.pow(2, z);
            matrixIds[z] = z;
        };

        var styleFunction = function (id) {
            return styles[id];
        };

        var tileGrid = new ol.tilegrid.WMTS({
            origin: ol.extent.getTopLeft(projectionExtent),
            resolutions: resolutions,
            matrixIds: matrixIds
        });


        // Layer for draw single vector features
        const source = new ol.source.Vector;
        var vectorLayer = new ol.layer.Vector({
            source: source
        });

        // var wmsSource = new TileWMS({
        //     url: 'http://ows.mundialis.de/services/service?',
        //     params: {'LAYERS': 'TOPO-OSM-WMS'},
        //     crossOrigin: 'anonymous'
        // });

        var osm = new ol.layer.Tile({
            title: "OSM",
            baseLayer: true,
            visible: true,
            source: new ol.source.OSM()
        });


        var pnoaWmts = new ol.layer.Tile({
            title: "PNOA",
            baseLayer: true,
            opacity: 1,
            visible: false,
            source: new ol.source.WMTS({
                url: 'http://www.ign.es/wmts/pnoa-ma',
                layer: 'OI.OrthoimageCoverage',
                matrixSet: 'EPSG:3857',
                format: 'image/jpeg',
                projection: projection,
                tileGrid: tileGrid,
                style: 'default',
                wrapX: true
            })
        });

        var IGNBaseOrto = new ol.layer.Tile({
            title: "IGNBaseOrto",
            baseLayer: true,
            opacity: 1,
            visible: false,
            source: new ol.source.WMTS({
                url: 'http://www.ign.es/wmts/ign-base',
                layer: 'IGNBaseOrto',
                matrixSet: 'EPSG:3857',
                format: 'image/png',
                projection: projection,
                tileGrid: tileGrid,
                style: 'default',
                wrapX: true
            })
        });

        /**
         * Elements that make up the popup.
         */
        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');


        /**
         * Create an overlay to anchor the popup to the map.
         */
        /*
        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        */
        /**
         * Add a click handler to hide the popup.
         * @return {boolean} Don't follow the href.
         */
        /*
        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };
        */



        // The vector graph
        var graph = new ol.source.Vector({
            url: '/data/main_roads.geojson',
            format: new ol.format.GeoJSON()
        });
        listenerKey = graph.on('change', function () {
            if (graph.getState() == 'ready') {
                $('.loading').hide();
                ol.Observable.unByKey(listenerKey);
            }
        });
        var vector = new ol.layer.Vector({
            title: 'Graph',
            source: graph
        });

        // A layer to draw the result
        var result = new ol.source.Vector();

        var map = new ol.Map({
            layers: [osm, pnoaWmts, IGNBaseOrto],
            target: 'map',
            controls: ol.control.defaults().extend([
                new ol.control.ScaleLine({
                    className: 'ol-scale-line',
                    target: document.getElementById('scale-line')
                })
            ]),
            //overlays: [overlay],
            interactions: ol.interaction.defaults({ altShiftDragRotate:false, pinchRotate:false }),
            view: new ol.View({
                //center: ol.proj.transform([#{lng}, #{lat}], 'EPSG:4326', 'EPSG:3857'), zoom: 6
                center: ol.proj.fromLonLat([#{lng}, #{lat}]),
                zoom: 6
            })
        });


        /*
        // layer for showing the graph with the geometries of the roads
        map.addLayer(vector);
        map.addLayer(new ol.layer.Vector({
            source: result,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    width: 2,
                    color: "#f00"
                })
            })
        }));
        */



        // *******DIJKTRA***********
        // Dijkstra
        var dijkstra = new ol.graph.Dijskra({
            source: graph
        });
        // Start processing
        dijkstra.on('start', function (e) {
            $('#warning').hide();
            $("#notfound").hide();
            $("#notfound0").hide();
            $("#result").hide();
            result.clear();
        });
        // Finish > show the route
        dijkstra.on('finish', function (e) {
            $('#warning').hide();
            result.clear();
            console.log(e);
            if (!e.route.length) {
                if (e.wDistance === -1) $("#notfound0").show();
                else $("#notfound").show();
                $("#result").hide();
            } else {
                $("#result").show();
                var t = (e.distance / 1000).toFixed(2) + 'km';
                $("#result span").html(t);
            }
            result.addFeatures(e.route);
            start = end;
            popStart.show(start);
            popEnd.hide();
        });
        // Paused > resume
        dijkstra.on('pause', function (e) {
            if (e.overflow) {
                $('#warning').show();
                dijkstra.resume();
            } else {
                // User pause
            }
        });
        // Calculating > show the current "best way"
        dijkstra.on('calculating', function (e) {
            if ($('#path').prop('checked')) {
                var route = dijkstra.getBestWay();
                result.clear();
                result.addFeatures(route);
            }
        });
        // Get the real length of the geom
        dijkstra.getLength = function (geom) {
            if (geom.getGeometry) {
                //? return geom.get('km')*1000;
                geom = geom.getGeometry();
            }
            return ol.sphere.getLength(geom)
        }
        // Start / end Placemark
        var popStart = new ol.Overlay.Placemark({popupClass: 'flagv', color: '#080'});
        map.addOverlay(popStart);
        var popEnd = new ol.Overlay.Placemark({popupClass: 'flag finish', color: '#000'});
        map.addOverlay(popEnd);
        // Manage start / end on click
        var start, end;
        // interaction with the map for calculating Dijkstra
        /*
        map.on('click', function (e) {
            if (!start) {
                start = e.coordinate;
                popStart.show(start);
            } else {
                var se = dijkstra.path(start, e.coordinate);
                if (se) {
                    start = se[0];
                    end = se[1];
                    popEnd.show(end);
                }
            }
        });
        */











        // Add a new Layerswitcher to the map
        //map.addControl(new ol.control.LayerSwitcherImage());

        //var coords = [-3.671180674823532, 40.412316630630755];

        // TODO: eliminar al final
        // dibuja Point pasandole una geometria en geográficas
        function dibujaPosicion(coords) {
            var pointPos = new ol.geom.Point(toUtm(coords));
            var point = new ol.Feature({
                geometry: pointPos
            });

            var stylePoint = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [64, 200, 200, 0.5],
                    width: 1
                })
            });
            point.setStyle(stylePoint);

            vectorLayer.setSource(new ol.source.Vector());
            vectorLayer.getSource().addFeature(point);
        }

        //var view = new ol.View(map.getView());

        // Zooom and fit to the source of a layer
        function zoomToFeature(source){
            var extent = source.getExtent();
            var polygon = new ol.geom.Polygon.fromExtent(extent);
            map.getView().fit(polygon, {padding: [170, 50, 30, 150]});
        }


        function toGeo(coords) {
            return ol.proj.transform(coords, 'EPSG:3857', 'EPSG:4326');
        }

        function toUtm(coords) {
            return ol.proj.transform(coords, 'EPSG:4326', 'EPSG:3857');
        }

        /**
         * Add a click handler to the map to render the popup.
         */
        /*
        map.on('singleclick', function (evt) {
            var coordinate = evt.coordinate;
            var hdms = toGeo(coordinate);

            content.innerHTML = '<p>Coordenadas:</p><code>' + hdms +
                '</code>';
            overlay.setPosition(coordinate);
        });

         */

        function borraPantalla() {
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function httpGet(theUrl) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false); // false for synchronous request
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }

        function getDrivers() {
            // request to be launched
            theUrl = ROOT + '/getDrivers';

            // http request to obtain the drivers
            var driversJSON = JSON.parse(httpGet(theUrl));

            //variables for house the items
            var myItems = [], $drivers_results = $('#drivers_results');

            // Loop for creating each element in the viewer panel
            for (var i = 0; i < driversJSON.length; i++) {
                var id = driversJSON[i]['id_driver'];
                var name = driversJSON[i]['name'];
                var surname = new String(driversJSON[i]['surname']);
                var birthdate = (new Date(driversJSON[i]['birthdate']));
                birthdate = birthdate.getDate() + "/" + birthdate.getMonth() + "/" + birthdate.getFullYear();
                var genre = driversJSON[i]['genre'];
                var mobile_number = driversJSON[i]['mobile_number'];
                var email = driversJSON[i]['email'];
                var available = driversJSON[i]['available'];

                //request Vehicle assigned
                theUrlVehicle = ROOT + '/vehicleByIdDriver/' + id;
                var resVehicleAssigned = JSON.parse(httpGet(theUrlVehicle));
                var id_vehicle;
                if (resVehicleAssigned.length == !0) {
                    var vehicle = resVehicleAssigned[0];
                    id_vehicle = vehicle['id_vehicle'] + ': ' + vehicle['brand'] + ' ' + vehicle['model'];
                } else {
                    id_vehicle = 'Not assigned';
                }

                //create HTML element for each Driver
                myItems.push("" +
                    "<div class='resultItem'>" +
                    "<img class='list-thumbnail' src='/images/businessman-310819.svg'>" +
                    "<div href='#" + id + "' class='details'>" +
                    "<div class='list-group-item-heading'><i class='fa fa-hashtag'></i>" + id + "</div>" +
                    "<div title='Email'><i class='fa fa-at'></i>" + email + "</div>" +
                    "<div title='Driver name'><i class='glyphicon glyphicon-user'></i>" + name + " " + surname + "</div>" +
                    "<div title='Birthdate'><i class='glyphicon glyphicon-calendar'></i>" + birthdate + "</div>" +
                    "<div title='Genre'><i class='fa fa-genderless'></i>" + genre + "</div>" +
                    "<div title='Mobile number'><i class='fa fa-mobile-alt'></i>" + mobile_number + "</div>" +
                    "<div title='Vehicle'><i class='fa fa-car-alt'></i>" + id_vehicle + "</div>" +
                    "<a title='Delete driver' class='deleteIcon delete-driver' data-id=" + id + "><i class='fa fa-trash'></i></a>" +
                    "<a title='Edit Driver' class='editIcon edit-driver' data-toggle='modal' data-target='#editFormDriver' " +
                    " data-id=" + id + " data-name=" + name + " data-surname=" + surname + " data-birthdate= " + birthdate +
                    " data-genre=" + genre + " data-mobile_number= " + mobile_number + " data-email=" + email +
                    " data-available=" + available +
                    ">" +
                        "<i class='fa fa-edit'></i>" +
                    "</a>" +
                    "<a class='btn visualize-driver' data-id=" + id + ">Visualize</a>" +
                    "</div>" +
                    "</div>");
                //myItems.push("Hola");

                //$("img").attr("width","500");
            }
            $('#drivers_results').html(myItems.join(''));
            console.log('drivers capturados: ')
            console.log(driversJSON);
            updateFunctions();
        }

        // Obtain all vehicles
        function getVehicles() {
            console.log('peticion enviada');
            theUrl = ROOT + '/getVehicles';
            vehiclesJSON = JSON.parse(httpGet(theUrl));
            return vehiclesJSON;
        }

        // return the layer position depending of the position
        function layerPosition(id) {
            var position = 0;
            for (var i = 0; i < vehiclesJSON.length; i++) {
                if (vehiclesJSON[i].id_vehicle == id) {
                    position = i + OFFSET_UP;
                }
            }
            return position;
        }

        //Style for each vehicle
        var colors = [];
        function generateColor() {
            // generate random color for each object
            var R = Math.floor(Math.random() * 256);
            var G = Math.floor(Math.random() * 256);
            var B = Math.floor(Math.random() * 256);
            var color = 'rgba(' + R + ', ' + G + ', ' + B + ', 0.8)';
            return color;
            console.log('array styles creado: ' + styles.length + ' styles');
        }

        function createStyle(){
            var color = generateColor();
            var stroke = new ol.style.Stroke({color: 'black', width: 2});
            var fill = new ol.style.Fill({color: color});

            // styles for each vehicle
            var style = {
                'linestring': new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: color,
                        width: 3
                    }),
                    fill: new ol.style.Fill({
                        color: color
                    })
                }),
                'endpoint': new ol.style.Style({
                    image: new ol.style.Icon({
                        opacity: 1,
                        scale: 1,
                        color: color,
                        crossOrigin: 'anonymous',
                        src: '/images/geolocation_marker_heading.png',
                        rotateWithView: true
                    })
                }),
                'startpoint': new ol.style.Style({
                    image: new ol.style.RegularShape({
                        fill: fill,
                        stroke: stroke,
                        points: 4,
                        radius: 10,
                        angle: Math.PI / 4
                    })
                })
            };
            return style;
        }


        // Initialize layers for each vehicle
        function initializeLayers(){
            for (var i = 0; i < numVehicles; i++) {
                var id = vehiclesJSON[i]['id_vehicle'];

                //TODO: al ser asincrona esta funcion, hay veces que se desordenan las capas, respecto a los elementos
                // HTML generados al vuelo.
                console.log('llama a createLayerById para el id: ' + id);
                createLayerById(id);

                var layerposition = layerPosition(id);
                console.log('layerposition: ' + layerposition);
            }
        }

        // extract rotation between two coordinates
        var extractRotation = function extractRotation(twoCoordinates) {
            var start = twoCoordinates[0];
            var end = twoCoordinates[1];
            var dx = end[0] - start[0];
            var dy = end[1] - start[1];
            return Math.atan2(dy, dx);
        };


        // creates layer for each vehicle
        var styles = [];
        function createLayerById(id) {
            console.log('createLayerById: ' + id);
            var peticionGet = "";
            peticionGet = 'position-vehicle/' + id;

            console.log('Id: ' + id);

            $.ajax({
                dataType: "json",
                url: peticionGet,
                type: 'GET',
                success: function (data) {
                    if (data.features != null) {
                        var format = new ol.format.GeoJSON({
                            defaultDataProjection: 'EPSG:3857'
                        });

                        var features = format.readFeatures(data, {
                            dataProjection: 'EPSG:4326',
                            featureProjection: 'EPSG:3857'
                        });

                        // create a Polygon from points of the vehicle
                        var lineStringCoords = [];
                        for (var i in features) {
                            var c = features[i].getGeometry().getCoordinates();
                            lineStringCoords.push(c);
                        }

                        // get rotation of last two points
                        var twoCoordinates = lineStringCoords.slice(
                            lineStringCoords.length - 2,
                            lineStringCoords.length
                        );

                        var rotation = extractRotation(twoCoordinates);

                        //creates the style for the layer
                        var style = createStyle();

                        //set the rotation for the icon of the current position
                        style.endpoint.getImage().setRotation(-rotation + (Math.PI / 2));

                        //stores the style in the styles array
                        styles.push(style);

                        //creates the lahyer
                        var layer = new ol.layer.Vector({
                            visible: false,
                            zIndex: 1,
                            style: style.linestring
                        });

                        //creates a feature with the coordinates of the linestring
                        var feature = new ol.Feature({
                            geometry: new ol.geom.LineString(lineStringCoords)
                        })

                        // create new Vector object to house the features
                        var vectorSource = new ol.source.Vector({
                            features: [feature]
                        });

                        // add start point from linestring geometry
                        var coordinatesStart = features[0].getGeometry().getCoordinates();
                        var startPoint = new ol.Feature(new ol.geom.Point(coordinatesStart));
                        startPoint.setStyle(style.startpoint);

                        // Add new features to the map
                        vectorSource.addFeature(startPoint);

                        // set source for the layer
                        layer.setSource(vectorSource);

                    } else{
                        var style = createStyle();

                        styles.push(style);
                        var layer = new ol.layer.Vector({
                            visible: false,
                            zIndex: 1,
                            style: style.linestring
                        });
                    }

                    // add the layer to the map
                    map.addLayer(layer);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }

        // update the current position of all the vehicles
        function updateVehiclesPosition(){
            vehicles = getVehicles();
            var peticionGet = "";

            // loop to obtain position of each vehicle
            var numVehicles = vehicles.length;
            for(var i = 0; i < numVehicles ; i++){
                var id = null;
                id = vehicles[i].id_vehicle;
                var layerposition = layerPosition(id);
                console.log("i: " + i + ", id: " + id);
                GETrequest = 'position-vehicle/' + id;
                console.log("lanza petición: " + GETrequest);
                $.ajax({
                    async: false,
                    cache: false,
                    dataType: "json",
                    url: GETrequest,
                    type: 'GET',
                    success: function (data) {
                        console.log("tiene coordenadas el vehículo id: " + id + "?");
                        console.log(data.features);
                        if (data.features != null) {
                            var format = new ol.format.GeoJSON({
                                defaultDataProjection: 'EPSG:3857'
                            });

                            var features = format.readFeatures(data, {
                                dataProjection: 'EPSG:4326',
                                featureProjection: 'EPSG:3857'
                            });

                            // create a Polygon from points of the vehicle
                            var lineStringCoords = [];
                            for (var i in features) {
                                var c = features[i].getGeometry().getCoordinates();
                                lineStringCoords.push(c);
                            }

                            // get rotation of last two points
                            var twoCoordinates = lineStringCoords.slice(
                                lineStringCoords.length - 2,
                                lineStringCoords.length
                            );

                            var rotation = extractRotation(twoCoordinates);

                            //creates the style for the layer
                            var style = styles[layerposition - OFFSET_DOWN];

                            //set the rotation for the icon of the current position
                            style.endpoint.getImage().setRotation(-rotation + (Math.PI / 2));

                            //update the style in the styles array
                            styles[layerposition - OFFSET_DOWN] = style;

                            //creates a feature with the coordinates of the linestring
                            var feature = new ol.Feature({
                                geometry: new ol.geom.LineString(lineStringCoords)
                            })

                            // create new Vector object to house the features
                            var vectorSource = new ol.source.Vector({
                                features: [feature]
                            });

                            // add start point from linestring geometry
                            var coordinatesStart = features[0].getGeometry().getCoordinates();
                            var startPoint = new ol.Feature(new ol.geom.Point(coordinatesStart));
                            startPoint.setStyle(style.startpoint);

                            // Add new features to the map
                            vectorSource.addFeature(startPoint);

                            // variable for store currrent layer
                            var layer = map.getLayers().getArray()[layerposition];

                            if(layer == undefined){
                                console.log('genera una capa nueva, id:' + layerposition)
                                createLayerById(id);
                            }

                            console.log("Actualiza source!")
                            layer.setSource(vectorSource);

                            //update visualization of the layer
                            drawCurrentIdPosition(id, layer, layerposition);

                        }else {
                            console.log("No tiene coordenadas");
                            var style = createStyle();

                            styles.push(style);
                            var layer = new ol.layer.Vector({
                                visible: false,
                                zIndex: 1,
                                style: style.linestring
                            });
                        }
                    }
                })
            }
        }


        // Creates the HTML elements for each vehicle
        function createVehicleHTMLelements(){
            var myItems = [], $vehicles_results = $('#vehicles_results');

            for (var i = 0; i < vehiclesJSON.length; i++) {
                var id = vehiclesJSON[i]['id_vehicle'];
                var type = vehiclesJSON[i]['type'];
                var brand = vehiclesJSON[i]['brand'];
                var model = vehiclesJSON[i]['model'];
                var passengers = vehiclesJSON[i]['passengers'];
                var fuel = vehiclesJSON[i]['fuel'];
                var available = vehiclesJSON[i]['available'];
                var visibility = vehiclesJSON[i]['visibility'];

                // set visibility icon
                var eye = '';
                if(visibility == 'false'){
                    eye = 'fa-eye';
                } else {
                    eye = 'fa-eye-slash';
                }

                //request Driver assigned
                theUrlDriver = ROOT + '/driverByIdVehicle/' + id;
                var resDriverAssigned = JSON.parse(httpGet(theUrlDriver));
                var id_driver;
                if (resDriverAssigned.length == !0) {
                    var driver = resDriverAssigned[0];
                    id_driver = driver['id_driver'] + ': ' + driver['name'] + ' ' + driver['surname'];
                } else {
                    id_driver = 'Not assigned';
                }

                //create HTML element for each vehicle
                myItems.push("" +
                    "<div class='resultItem'>" +
                        "<img class='list-thumbnail' src='/images/bicycle icon.png'>" +
                        "<div href='#" + id + "' class='details'>" +
                        "<div class='list-group-item-heading'><i class='fa fa-hashtag'></i>" + id + "</div>" +
                        "<div title='Driver'><i class='glyphicon glyphicon-user'></i>" + id_driver + "</div>" +
                        "<div title='Brand, model'><i class='glyphicon glyphicon-triangle-right'></i>" + brand + ", " + model + "</div>" +
                        "<div title='Passengers'><i class='fa fa-users'></i>" + passengers + "</div>" +
                        "<div title='Fuel'><i class='fa fa-gas-pump'></i>" + fuel + "</div>" +
                        "<a title='Delete vehicle' class='deleteIcon delete-vehicle' data-id=" + id + "><i class='fa fa-trash'></i></a>" +
                        "<a title='Edit Vehicle' class='editIcon edit-vehicle' data-toggle='modal' data-target='#editFormVehicle' " +
                        " data-id=" + parseInt(id) +
                        " data-type=" + type +
                        " data-brand=" + brand +
                        " data-model=" + model +
                        " data-passengers=" + passengers +
                        " data-fuel=" + fuel +
                        " data-available=" + available +
                        ">" +
                        "<i class='fa fa-edit'></i>" +
                        "</a>" +
                        "<a class='btn visualize-vehicle' title='Show vehicle' data-id=" + id + "><i class='fas " + eye + "'></i></a>" +
                        "<a class='btn zoom-vehicle' title='Zoom to vehicle' data-id=" + id + "><i class='fas fa-bullseye'></i></a>" +
                        "</div>" +
                    "</div>");

            }

            $('#vehicles_results').html(myItems.join(''));
            console.log('vehiculos creados: ')
            console.log(vehiclesJSON);
            updateFunctions();
        }



        function lanzaPeticionDrivers() {
            console.log('peticion enviada')
            peticion_http = new XMLHttpRequest();
            peticion_http.open('GET', ROOT + '/getDrivers/', true);
            peticion_http.send(null);
        }

        $('#nav-vehicles-tab').on('click', function () {
            lanzaPeticionDrivers();
        });


        // Execute 'slide' effect
        function conmutaPanelBusqueda() {
            // Execute the effect
            $("#panelbusqueda").toggle('drop', {}, 500);
        };

        // Set the effect from selected value from menu
        $("#botonmenu").click(function () {
            // Execute the effect
            conmutaPanelBusqueda();
            lanzaPeticionDrivers();
        });


        $(".toggleSettings").click(function (event) {
            $("#tools").toggle();
            // getDrivers();
            // createVehicleHTMLelements();
        })

        $("#tab-vehicles").click(function () {
            createVehicleHTMLelements();
        })

        $("#tab-drivers").click(function () {
            getDrivers();
        })


        // create an alert
        function createAlert(message){
            // Control
            var notification = new ol.control.Notification({});
            map.addControl(notification);
            notification.show(message);
        }

        function drawCurrentIdPosition(id, layer, layerposition){
            console.log('draw position of current point of layer id: ' + id);
            var vectorSource = layer.getSource();
            if (vectorSource != null) {
                var features = vectorSource.getFeatures();
                var points = features[0].getGeometry().getCoordinates();
                var last = points.length - 1;
                var coordinatesEnd = points[last];
                var endPoint = new ol.Feature(new ol.geom.Point(coordinatesEnd));
                var style = styles[layerposition - OFFSET_DOWN];
                endPoint.setStyle(style.endpoint);
                console.log('layer.getVisible(): ' + layer.getVisible());
                vectorSource.addFeature(endPoint);
            } else {
                // show alert that there is no features
                createAlert('Vehicle id: ' + id + '  has no position registered!');
            }
        }

        // create a layer for drawing each of the objects
        function showFeatureLayer(id){
            var layerposition = layerPosition(id);
            var layer = map.getLayers().getArray()[layerposition];
            if(layer.getVisible() == true){
                layer.setVisible(false);
            }else{
                layer.setVisible(true);

                drawCurrentIdPosition(id, layer, layerposition);
            }
        }

        function toggleOSMLayer(){
            console.log("activa/desactiva OSM layer");
            var layerOSM = map.getLayers().getArray()[0];
            var layerPNOA = map.getLayers().getArray()[1];
            var IGNBaseOrto = map.getLayers().getArray()[2];


            if(layerOSM.getVisible() == false && layerPNOA.getVisible() == true){
                $("#mapPNOA").removeClass('selected');
                $("#mapOSM").addClass('selected');
                layerOSM.setVisible(true);
                layerPNOA.setVisible(false);
                IGNBaseOrto.setVisible(false);
            }
        }

        function togglePNOALayer() {
            console.log("activa/desactiva PNOA layer");
            var layerOSM = map.getLayers().getArray()[0];
            var layerPNOA = map.getLayers().getArray()[1];
            var IGNBaseOrto = map.getLayers().getArray()[2];


            if(layerOSM.getVisible()==true && layerPNOA.getVisible()==false){
                $("#mapOSM").removeClass('selected');
                $("#mapPNOA").addClass('selected');
                layerOSM.setVisible(false);
                layerPNOA.setVisible(true);
                IGNBaseOrto.setVisible(true);
            }
        }

        function updateFunctions(){

            // Delete driver by id
            $(".delete-driver").on('click', function () {
                var id = $(this).data('id');
                var url = '/deleteDriver/' + id;
                if (confirm('Delete driver with id:' + id + '?')) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (result) {
                            console.log('Deleting Driver with id:' + id);
                            window.location.href = '/map';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            });

            $(".edit-driver").on('click', function () {
                // console.log('intentando editar un driver');

                $("#edit-form-id").val($(this).data('id'));
                $("#edit-form-name").val($(this).data('name'));
                $("#edit-form-surname").val($(this).data('surname'));
                $("#edit-form-birthdate").val($(this).data('birthdate'));
                $("#edit-form-genre").val($(this).data('genre'));
                $("#edit-form-mobile_number").val($(this).data('mobile_number'));
                $("#edit-form-email").val($(this).data('email'));
                $("#edit-form-available").val($(this).data('available'));

            });

            $(".edit-vehicle").on('click', function () {
                // console.log('intentando editar un vehicle');

                $("#edit-vehicle-form-id").val($(this).data('id'));
                $("#edit-vehicle-form-type").val($(this).data('type'));
                $("#edit-vehicle-form-brand").val($(this).data('brand'));
                $("#edit-vehicle-form-model").val($(this).data('model'));
                $("#edit-vehicle-form-passengers").val($(this).data('passengers'));
                $("#edit-vehicle-form-fuel").val($(this).data('fuel'));
                $("#edit-vehicle-form-available").val($(this).data('available'));
            });


            // Delete vehicle by id
            $(".delete-vehicle").on('click', function () {
                var id = $(this).data('id');
                var url = '/deleteVehicle/' + id;
                if (confirm('Delete vehicle with id:' + id + '?')) {
                    // delete driver
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (result) {
                            console.log('Deleting Vehicle with id:' + id);
                            window.location.href = '/map';
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            });


            //Visualize and zoom to a vehicle
            $('.visualize-vehicle').on('click', function () {
                var id = $(this).data('id');
                var pos = layerPosition(id) - OFFSET_DOWN;

                if(vehiclesJSON[pos].visibility == true){       //if layer is currently visible, set class properly
                    $(this).children("i").removeClass('fa-eye');
                    $(this).children("i").addClass('fa-eye-slash');
                }

                // change visualize icon and modify title
                if($(this).children("i").attr('class')=='fas fa-eye-slash'){    //layer is visible, change it to not visible
                    $(this).children("i").removeClass('fa-eye-slash');
                    $(this).children("i").addClass('fa-eye');
                    $(this).children("i").attr('title','Show vehicle');
                    vehiclesJSON[pos].visibility='false'
                }else if($(this).children("i").attr('class')=='fas fa-eye'){    //layer is not visible, change it to visible
                    $(this).children("i").removeClass('fa-eye');
                    $(this).children("i").addClass('fa-eye-slash');
                    $(this).children("i").attr('title', 'Hide vehicle');
                    vehiclesJSON[pos].visibility = 'true'
                }

                //var url = '/position-vehicle/' + id;
                //console.log('Muestra la posición del vehículo: ' + id);

                // Call to the function than show the position of the vehicle
                showFeatureLayer(id);

            });


            $('.zoom-vehicle').on('click', function () {
                var id = $(this).data('id');
                var layerposition = layerPosition(id);
                var source = map.getLayers().getArray()[layerposition].getSource();

                // test if there is source or the layer has not features
                if (source != null){
                    zoomToFeature(source);
                }
            });
            console.log('cursor');

        }

        $(document).ready(function() {
            // create styles of the vehicles
            vehiclesJSON = getVehicles();   //TODO: aquí es donde falla y altera la posición de los objetos en el array JSON al hacer la llamada a getVehicles
            numVehicles = vehiclesJSON.length;

            // stablish visibility to 'false' in each vehicle element for set the class fa-eye
            for(var i = 0; i < numVehicles ; i++){
                vehiclesJSON[i].visibility = 'false';
            }

            // Initialize layer's vehicles
            initializeLayers();

            //Call the function ceateStyles()
            //createStyles(numVehicles);


            // Obtain the drivers and the vehicles from the database
            console.log('Llamada a getDrivers()')
            getDrivers();

            console.log('Llamada a createVehicleHTMLelements()')
            createVehicleHTMLelements();


            // blink current position for visible vehicles
            setInterval(blinkPoint, 500);
            function blinkPoint() {
                for (var i = 0; i < numVehicles; i++) {
                    if(map.getLayers().getArray()[i + OFFSET_UP].getSource() != null){
                        if (map.getLayers().getArray()[i + OFFSET_UP].getVisible() == true) {
                            if (styles[i].endpoint.getImage().getOpacity() == 1) {
                                styles[i].endpoint.getImage().setOpacity(0)
                                map.getLayers().getArray()[i + OFFSET_UP].getSource().refresh()
                            } else {
                                styles[i].endpoint.getImage().setOpacity(1)
                                map.getLayers().getArray()[i + OFFSET_UP].getSource().refresh()
                            }
                        }
                    }
                }
            map.renderSync();
            }

            // launch the requests in loop each 2 seconds
            setInterval(updatePosition, 2000);

            // function that calls the function that update the vehicles's position
            function updatePosition() {
                var d = new Date();
                updateVehiclesPosition();
                console.log('Update position at: ' + d.toLocaleTimeString());
            }

        });

        //})

    // Modal ADD Vehicle
    #formVehicle.modal.fade(tabindex='-1', role='dialog', aria-labelledby='formVehicleLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/vehicle")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myVehicleLabel.modal-title Add Vehicle
                    .modal-body
                        .form-group
                            label Vehicle type
                            select.form-control(type="text" name="type")
                                option(value="Car") Car
                                option(value="Van") Van
                                option(value="Truck") Truck
                                option(value="Bike") Bike
                                option(value="Motorbike") Motorbike
                                option(value="Electric Scooter") Electric Scooter
                        .form-group
                            label Brand
                            input.form-control(type="text" name="brand")
                        .form-group
                            label Model
                            input.form-control(type="text" name="model")
                        .form-group
                            label Number of passengers
                            input.form-control(type="number" name="passengers")
                        .form-group
                            label Fuel Type
                            select.form-control(type="text" name="fuel")
                                option(value="Diesel") Diesel
                                option(value="Gas") Gas
                        .form-group
                            label Available
                            select.form-control(type="text" name="available")
                                option(value="true") True
                                option(value="false") False
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")

    // Modal EDIT Vehicle
    #editFormVehicle.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editFormVehicleLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/editVehicle")
                    input(type="hidden" id="edit-vehicle-form-id" name="id")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myEditVehicleLabel.modal-title Edit Vehicle
                    .modal-body
                        .form-group
                            label Vehicle type
                            input.form-control(type="text" name="type" id="edit-vehicle-form-type")
                        .form-group
                            label Brand
                            input.form-control(type="text" name="brand" id="edit-vehicle-form-brand")
                        .form-group
                            label Model
                            input.form-control(type="text" name="model" id="edit-vehicle-form-model")
                        .form-group
                            label Number of passengers
                            input.form-control(type="number" name="passengers" id="edit-vehicle-form-passengers")
                        .form-group
                            label Fuel Type
                            select.form-control(type="text" name="fuel" id="edit-vehicle-form-fuel")
                                option(value="Diesel") Diesel
                                option(value="Gas") Gas
                        .form-group
                            label Available
                            input.form-control(type="text" name="available" id="edit-vehicle-form-available")

                            //select.form-control(type="text" name="available" id="edit-vehicle-form-available")
                            //    option(value="true") True
                            //    option(value="false") False
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")


    // Modal ADD Driver
    #formDriver.modal.fade(tabindex='-1', role='dialog', aria-labelledby='formDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/driver")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myDriverLabel.modal-title Add Driver
                    .modal-body
                        .form-group
                            label Email
                            input.form-control(type="email" name="email")
                        .form-group
                            label Password
                            input.form-control(type="password" name="password")
                        .form-group
                            label Name
                            input.form-control(type="text" name="name")
                        .form-group
                            label Surname
                            input.form-control(type="text" name="surname")
                        .form-group
                            label Birth Date
                            input.form-control(type="date" name="birthdate")
                        .form-group
                            label Genre
                            select.form-control(type="text" name="genre")
                                option(value="Male") Male
                                option(value="Female") Female
                        .form-group
                            label Mobile Number
                            input.form-control(type="tel" name="mobile_number")
                        .form-group
                            label Available
                            select.form-control(type="text" name="available")
                                option(value="true") True
                                option(value="false") False
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")
    // Modal EDIT Driver
    #editFormDriver.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editFormDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/editDriver")
                    input(type="hidden" id="edit-form-id" name="id")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myEditDriverLabel.modal-title Edit Driver
                    .modal-body
                        .form-group
                            label Email
                            input.form-control(type="email" name="email" id="edit-form-email")
                        //TODO: Añadir comprobación de password
                        .form-group
                            label Password
                            input.form-control(type="password" name="password" id="edit-form-password")
                        .form-group
                            label Name
                            input.form-control(type="text" name="name" id="edit-form-name")
                        .form-group
                            label Surname
                            input.form-control(type="text" name="surname" id="edit-form-surname")
                        .form-group
                            label Birth Date
                            input.form-control(type="text" name="birthdate" id="edit-form-birthdate")
                        .form-group
                            label Genre
                            input.form-control(type="text" name="genre" id="edit-form-genre")

                            //select.form-control(type="text" name="genre" id="edit-form-genre")
                            //    option(value="Male") Male
                            //    option(value="Female") Female
                        .form-group
                            label Mobile Number
                            input.form-control(type="tel" name="mobile_number" id="edit-form-mobile_number")
                        .form-group
                            label Available
                            input.form-control(type="text" name="available" id="edit-form-available")

                            //select.form-control(type="text" name="available" id="edit-form-available")
                            //    option(value="true") true
                            //    option(value="false") false
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")

    // Modal ADD Vehicle-Driver relation
    #formVehicleDriver.modal.fade(tabindex='-1', role='dialog', aria-labelledby='formVehicleDriverLabel')
        .modal-dialog(role='document')
            .modal-content
                form(method="post" action="/vehicleDriver")
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myVehicleDriverLabel.modal-title Add Driver
                    .modal-body
                        .form-group
                            label Vehicle
                            input.form-control(type="text" name="id_vehicle")
                        .form-group
                            label Driver
                            input.form-control(type="text" name="id_driver")
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit' value="Save")