extends layout

block content
    div#toolbar.intro.container-fluid.col-md-12
        div.col-md-8
        div.col-md-4.hidden-xs(style="padding:0px;") Geolocalización de objetos móviles
    .map#map
        #info
    #mouse-position
    //#popup.ol-popup
    //    a#popup-closer.ol-popup-closer(href='#')
    //    #popup-content
    //div.loading
    //    i.fa.fa.fa-spinner.fa-pulse
    //    "Loading data..."
    div(style="display: none;")
        #marker(title="Marker")
    //div.btn-group(role="group" style="position: absolute; right: 3em; top: 60px;")
    //    div.btn.btn-default.selected#mapOSM(type="button" style="visibility:visible; background: url(/images/mapOSM.jpg)" onclick="toggleOSMLayer()") OSM
    //    div.btn.btn-default#mapPNOA(type="button" style="visibility:visible; background: url(/images/mapPNOA.jpg)" onclick="togglePNOALayer()") PNOA
    div.col-md-1(style="position: absolute; right: 1em; bottom: 60px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formVehicle" style="position: absolute; right: 3em; ") Añade Vehiculo
    div.col-md-1(style="position: absolute; right: 1em; bottom: 95px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formDriver" style="position: absolute; right: 3em; ") Añade Conductor
    div.col-md-1(style="position: absolute; right: 1em; bottom: 130px;")
        a.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#formVehicleDriver" style="position: absolute; right: 3em; ") Vehículo-Conductor
    a.toggleSettings
        i.fa.fa-bars
    div#alerts
    div#tools
        header.logoHeader
            h3 Panel de búsqueda
        .panel.with-nav-tabs.panel-default
            .panel-heading
                ul.nav.nav-tabs
                    li.active
                        a#tab-vehicles(href='#tab_vehicles_results', data-toggle='tab') Vehículos
                    li
                        a#tab-drivers(href='#tab_drivers_results', data-toggle='tab') Conductores
                    li
                        a#tab-filtros(href='#tab_filtros', data-toggle='tab') Filtros
            .panel-body
                .tab-content
                    #tab_vehicles_results.tab-pane.fade.in.active
                        div.p-0.card-body
                            table.table-dashboard.mb-0.table.table-borderless.vehicles-table#tabla-vehiculos
                                thead.bg-light
                                    tr
                                        th Icono
                                        th Nº
                                        th Vehículo/Conductor
                                        th Velocidad
                                tbody#vehicles_results
                    #tab_drivers_results.tab-pane.fade
                        div#drivers_results
                    #tab_filtros.tab-pane.fade
                        div#filtros
                            div.group
                                h4 Fecha de registro
                                div.panel-body
                                    div.form-group
                                        div.advanced-calendar-label
                                            label Desde:
                                            p.input-group
                                                input#fecha_desde.datepicker.form-control(type="text" placeholder="Desde" autocomplete="off")
                                        div.advanced-calendar-label
                                            label Hasta:
                                            p.input-group
                                                input#fecha_hasta.datepicker.form-control(type="text" placeholder="Hasta" autocomplete="off")
                                        button.btn.btn-success(type='button' onclick="fechaRegistroHoy()" title="Registro hoy") Fecha de Registro HOY
                                    span(style="right:2em;")
                                        button.btn-xs.btn.btn-warning(type='button' onclick="limpiaFiltros()" title="limpiar filtros de búsqueda") Limpiar filtros
    div#info-results
        header.logoHeader
            h3 Resultados
        .panel.with-nav-tabs.panel-default
            .panel-heading
                ul.nav.nav-tabs
                    li.active
                        a#tab-info(href='#tab_info', data-toggle='tab') Info
                    li
                        a#tab-rutas(href='#tab_rutas', data-toggle='tab') Rutas
            .panel-body
                .tab-content
                    #tab_info.tab-pane.fade.in.active
                        div#info_result
                    #tab_rutas.tab-pane.fade
                        div.p-0.card-body
                            div#rutas_result
    p#warning(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;')  Ugh! it&apos;s a bit long!
        br
        p "Try to go on searching..."
    p#notfound(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') Sorry, there is no route to go there!
    p#notfound0(style='background:#f80; color:#fff; padding:.5em; display:none; float:left;') You&apos;re allready there!
    p#result(style='background:#0b0; color:#fff; padding:.5em; display:none; position: absolute; right: 3em; top: 150px') Found it!
        br
        p "Distance:"
        span

    //form.flotante(method="post" action="/coords")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Id
    //        input(type="text" id='identifier' class="form-control" placeholder="Id")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coo/positionrd X
    //        input(type="text" id='coord_x' class="form-control" placeholder="Coord X")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text Coord Y
    //        input(type="text" id='coord_y' class="form-control" placeholder="Coord Y")
    //    .input-group.flex-nowrap.col-12
    //        .input-group-prepend
    //            span.input-group-text fecha
    //        input(type="text/javascript" id='fecha' class="form-control" placeholder="Fecha")
    //    input(type="submit" value="Send")
    script(type='text/javascript').
        //$(document).ready(function() {
        //import {dibujaPosicion} from '../routes/modules/common'
        // import TileWMS from 'https://github.com/openlayers/openlayers/blob/master/src/ol/source/TileWMS.js';
        /*
        const root = 'http://localhost:3000';
        // const root = 'https://avillena-pfg.herokuapp.com';
        */

        // Variable que alojará las entidades 'Vehicle' en JSON
        var vehiclesJSON = {};
        var numVehicles = 0;
        var ultimasPosicionesVehiculos = {};

        // Variable que alojará las entidades 'Driver' en JSON
        var driversJSON = {};
        var numDrivers = 0;

        // Vehículo seleccionado actual
        var currentVehicle = {};
        var ultimaFechaCurrentVehicle;
        var idCurrentVehicle;

        // Información a mostrar del vehículo a través de un popup
        var info = $('#info');
        info.tooltip({
            animation: false,
            trigger: 'manual'
        });


        /**
         * Elements that make up the popup.
         */
        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');


        /**
         * Create an overlay to anchor the popup to the map.
         */
        /*
        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });
        */
        /**
         * Add a click handler to hide the popup.
         * @return {boolean} Don't follow the href.
         */
        /*
        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            return false;
        };
        */

        // The vector graph
        var graph = new ol.source.Vector({
            url: '/data/main_roads.geojson',
            format: new ol.format.GeoJSON()
        });
        listenerKey = graph.on('change', function () {
            if (graph.getState() == 'ready') {
                $('.loading').hide();
                ol.Observable.unByKey(listenerKey);
            }
        });
        var vector = new ol.layer.Vector({
            title: 'Graph',
            source: graph
        });

        // A layer to draw the result DIJSKTRA
        var result = new ol.source.Vector();

        var map = new ol.Map({
            target: 'map',
            controls: ol.control.defaults().extend([
                new ol.control.ScaleLine({
                    className: 'ol-scale-line',
                    target: document.getElementById('scale-line')
                }),
                new ol.control.LayerPopup()
            ]),
            layers: [pnoaWmts, osm, americano, interministerial, olistat, sigpac, IGNBaseOrto],
            //overlays: [overlay],
            interactions: ol.interaction.defaults({altShiftDragRotate: false, pinchRotate: false}),
            view: new ol.View({
                //center: ol.proj.transform([#{lng},#{lat}], 'EPSG:4326', 'EPSG:3857'), zoom: 6
                center: ol.proj.fromLonLat([#{lng}, #{lat}]),
                zoom: 6
            })
        });


        /*
        // layer for showing the graph with the geometries of the roads
        map.addLayer(vector);
        map.addLayer(new ol.layer.Vector({
            source: result,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    width: 2,
                    color: "#f00"
                })
            })
        }));
        */



        // *******DIJKTRA***********
        // Dijkstra
        var dijkstra = new ol.graph.Dijskra({
            source: graph
        });
        // Start processing
        dijkstra.on('start', function (e) {
            $('#warning').hide();
            $("#notfound").hide();
            $("#notfound0").hide();
            $("#result").hide();
            result.clear();
        });
        // Finish > show the route
        dijkstra.on('finish', function (e) {
            $('#warning').hide();
            result.clear();
            console.log(e);
            if (!e.route.length) {
                if (e.wDistance === -1) $("#notfound0").show();
                else $("#notfound").show();
                $("#result").hide();
            } else {
                $("#result").show();
                var t = (e.distance / 1000).toFixed(2) + 'km';
                $("#result span").html(t);
            }
            result.addFeatures(e.route);
            start = end;
            popStart.show(start);
            popEnd.hide();
        });
        // Paused > resume
        dijkstra.on('pause', function (e) {
            if (e.overflow) {
                $('#warning').show();
                dijkstra.resume();
            } else {
                // User pause
            }
        });
        // Calculating > show the current "best way"
        dijkstra.on('calculating', function (e) {
            if ($('#path').prop('checked')) {
                var route = dijkstra.getBestWay();
                result.clear();
                result.addFeatures(route);
            }
        });
        // Get the real length of the geom
        dijkstra.getLength = function (geom) {
            if (geom.getGeometry) {
                //? return geom.get('km')*1000;
                geom = geom.getGeometry();
            }
            return ol.sphere.getLength(geom)
        }
        // Start / end Placemark
        var popStart = new ol.Overlay.Placemark({popupClass: 'flagv', color: '#080'});
        map.addOverlay(popStart);
        var popEnd = new ol.Overlay.Placemark({popupClass: 'flag finish', color: '#000'});
        map.addOverlay(popEnd);
        // Manage start / end on click
        var start, end;
        // interaction with the map for calculating Dijkstra
        /*
        map.on('click', function (e) {
            if (!start) {
                start = e.coordinate;
                popStart.show(start);
            } else {
                var se = dijkstra.path(start, e.coordinate);
                if (se) {
                    start = se[0];
                    end = se[1];
                    popEnd.show(end);
                }
            }
        });
        */

        //interaccion con el calendario
        //Establece configuración común para los dos calendarios
        var dateFormat = "yy/mm/dd";
        $(".datepicker").datepicker({
            firstDay: 1,
            dateFormat: "yy/mm/dd",
            dayNamesMin: ["DO", "LU", "MA", "MI", "JU", "VI", "SA"],
            monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            onClose: lanzaPeticionFecha,
            changeYear: true
        });

        //Establede el datepicker para el elemento #from y hace que cuando se seleccione una fecha se establezca la fecha mínima para #to
        $("#fecha_desde").datepicker().on("change", function () {
            $("#fecha_hasta").datepicker("option", "minDate", getDate(this));
        });

        //Establede el datepicker para el elemento #to y hace que cuando se seleccione una fecha se establezca la fecha máxima para #from
        $("#fecha_hasta").datepicker().on("change", function () {
            $("#fecha_desde").datepicker("option", "maxDate", getDate(this));
        });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        // realiza la peticion GET al servidor para seleccionar
        function lanzaPeticionFecha() {
            var desde = $("#fecha_desde").val().split("/").join("")
            var hasta = $("#fecha_hasta").val().split("/").join("")

            if ((desde != "") && (hasta != "")) {
                peticion_http = new XMLHttpRequest();
                theUrl = ROOT + '/time/' + desde + '/' + hasta;

                peticion_http.open('GET', theUrl, true);
                peticion_http.send(null);
            }

            // Cambiar la simbología en función del día
            // https://viglino.github.io/ol-ext/examples/style/map.style.gpxline.html

            //Actualiza mapa
            //updateVehiclesPosition();

        }

        // establecer como fecha de registro a mostrar 'Hoy'
        function fechaRegistroHoy() {
            console.log('Lanzamiento de fechaRegistroHoy()')
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //Enero es 0
            var year = today.getFullYear();

            $("#fecha_desde").val(year + '/' + mm + '/' + dd);
            $("#fecha_hasta").val(year + '/' + mm + '/' + dd);

            lanzaPeticionFecha();
        }

        // TODO: eliminar al final
        // dibuja Point pasandole una geometria en geográficas
        function dibujaPosicion(coords) {
            var pointPos = new ol.geom.Point(toUtm(coords));
            var point = new ol.Feature({
                geometry: pointPos
            });

            var stylePoint = new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: [64, 200, 200, 0.5],
                    width: 1
                })
            });
            point.setStyle(stylePoint);

            vectorLayer.setSource(new ol.source.Vector());
            vectorLayer.getSource().addFeature(point);
        }

        //var view = new ol.View(map.getView());

        // Zooom and fit to the source of a layer
        function zoomToFeature(source) {
            var extent = source.getExtent();
            var polygon = new ol.geom.Polygon.fromExtent(extent);
            map.getView().fit(polygon, {padding: [170, 50, 30, 150]});
        }


        function toGeo(coords) {
            return ol.proj.transform(coords, 'EPSG:3857', 'EPSG:4326');
        }

        function toUtm(coords) {
            return ol.proj.transform(coords, 'EPSG:4326', 'EPSG:3857');
        }

        /**
         * Add a click handler to the map to render the popup.
         */
        /*
        map.on('singleclick', function (evt) {
            var coordinate = evt.coordinate;
            var hdms = toGeo(coordinate);

            content.innerHTML = '<p>Coordenadas:</p><code>' + hdms +
                '</code>';
            overlay.setPosition(coordinate);
        });

         */


        // Crea los elementos HTML para cada vehículo
        function createVehicleHTMLelements() {
            var myItems = [], $vehicles_results = $('#vehicles_results');

            for (var i = 0; i < ultimasPosicionesVehiculos.features.length; i++) {
                var feature = ultimasPosicionesVehiculos.features[i].properties;
                var id = feature['id_vehicle'];
                var type = feature['vehicleType'];
                var available = feature['available'];
                var matricula = feature['matricula'];
                var velocidad = feature['speed'];

                // Petición del conductor asignado
                theUrlDriver = ROOT + '/driverByIdVehicle/' + id;
                var resDriverAssigned = JSON.parse(httpGet(theUrlDriver));
                var id_driver;
                if (resDriverAssigned.length == !0) {
                    var driver = resDriverAssigned[0];
                    id_driver = driver['id_driver'] + ': ' + driver['name'] + ' ' + driver['surname'];
                } else {
                    id_driver = 'No asignado.';
                }

                // Icono para el tipo de vehículo
                var type_icon;
                switch (type) {
                    case 'Coche':
                        type_icon = 'car_icon.png';
                        break;
                    case 'Furgoneta':
                        type_icon = 'van_icon.png';
                        break;
                    case 'Camión':
                        type_icon = 'truck_icon.png';
                        break;
                    case 'Bicicleta':
                        type_icon = 'bicycle_icon.png';
                        break;
                    case 'Motocicleta':
                        type_icon = 'motorbike_icon.png';
                        break;
                    case 'Scooter Eléctrico':
                        type_icon = 'electric_scooter_icon.png';
                        break;
                    default:
                        type_icon = 'car_icon.png'
                }


                // Crea elementos HTML para cada vehículo
                myItems.push("" +
                    "<tr>" +
                    "<td class='align-items-center align-middle' title='Icono'>" +
                    "<img class='list-thumbnail' src='/images/" + type_icon + "' width=\"50\">" +
                    "</td>" +
                    "<td class='align-middle' title='Número'>" + id + "</td>" +
                    "<td class='align-middle'>" +
                    "<div>" +
                    "<h4 class='mb-1 font-weight-semi-bold' title='Matrícula vehículo'>" + matricula + "</h4>" +
                    "<p class='mb-0' title='Conductor'>" + id_driver + "</p>" +
                    "</div>" +
                    "</td>" +
                    "<td class='align-middle' title='Velocidad'>" + velocidad + " km/h</td>" +
                    "</tr>");
            }

            $('#vehicles_results').html(myItems.join(''));

            // hace visible el menu lateral de la información de cada vehículo
            //$("#info-results").toggle();

            //console.log('vehiculos creados: ')
            //console.log(vehiclesJSON);

            updateFunctions();
        }

        // Ejecuta efecto 'slide'
        function conmutaPanelBusqueda() {
            // Ejecuta el efecto
            $("#panelbusqueda").toggle('drop', {}, 500);
        };

        // Establece el efecto del valor seleccionado desde el menú
        $("#botonmenu").click(function () {
            // Ejecuta el efecto
            conmutaPanelBusqueda();
        });

        // Muestra u oculta el menú principal
        $(".toggleSettings").click(function (event) {
            $("#tools").toggle();
        })

        // Llama a la función createVehicleHTMLelements() cada vez que se pulsa sobre la pestaña 'Vehículos'
        $("#tab-vehicles").click(function () {
            //createVehicleHTMLelements();
        })

        // Llama a la función getDrivers() cada vez que se pulsa sobre la pestaña 'Vonductores'
        $("#tab-drivers").click(function () {
            getDrivers();
        })


        // Crea una alerta
        function createAlert(message) {
            // Control
            var notification = new ol.control.Notification({});
            map.addControl(notification);
            notification.show(message);
        }

        // Función que dibuja la posición de la capa con el identificador especificado
        function drawCurrentIdPosition(id, layer, layerposition) {
            //console.log('dibujar posición del punto actual de la capa con id: ' + id);
            var vectorSource = layer.getSource();
            if (vectorSource != null) {
                var features = vectorSource.getFeatures();
                var points = features[0].getGeometry().getCoordinates();
                var last = points.length - 1;
                var coordinatesEnd = points[last];
                var endPoint = new ol.Feature(new ol.geom.Point(coordinatesEnd));
                var style = styles[layerposition - OFFSET_DOWN];
                endPoint.setStyle(style.endpoint);
                //console.log('layer.getVisible(): ' + layer.getVisible());
                vectorSource.addFeature(endPoint);
            } else {
                // muestra una alerta que indica si no hay posiciones registradas para el vhículo con id especificado
                createAlert('¡El vehicle id: ' + id + '  no tiene posiciones registradas!');
            }
        }

        function updateFunctions() {

            // Marca y selecciona el elemento de la tabla de vehículos
            $('#tabla-vehiculos tbody tr').click(function () {
                $(this).addClass('bg-success').siblings().removeClass('bg-success');
                var id = $(this).find("td[title='Número']").text();
                seleccionaVehiculoActual(id);

                // genera los elementos HTML con los resultados
                createVehicleHTMLinfo();

                // genera los elementos HTML con las rutas realizadas
                createVehicleHTMLrutas();

                // Si la capa de rutas tiene alguna entidad la elimina y apaga la capa
                if(routesLayer.getSource().getFeatures().length!=0){
                    routesLayer.getSource().clear();
                    routesLayer.setVisible(false);
                }

                // Dibuja la cola de la ruta del vehiculo seleccionado
                if(tailsLayer.getVisible()==false){   // Si la capa de colas está apagada, la enciende
                    tailsLayer.setVisible(true);
                }
                muestraColaVehiculo(id);

                // Hace zoom a la cola del vehículo seleccionado
                zoomToFeature(tailsLayer.getSource());

                // muestra el panel lateral con los resultados del vehículo seleccionado
                $("#info-results").show("blind", 500);

                console.log('Elemento seleccionado: ' + id);
            });

            // Marca y selecciona la ruta seleccionada para pintarla en el mapa
            $('#tabla-rutas tbody tr').click(function () {
                $(this).addClass('bg-success').siblings().removeClass('bg-success');
                var fecha = $(this).find("td[title='Fecha Ruta']>h5").text();
                ultimaFechaCurrentVehicle = fecha;
                var id = currentVehicle.properties.id_vehicle;

                // Si la capa de colas tiene alguna entidad la elimina y apaga la capa
                if (tailsLayer.getSource().getFeatures().length != 0) {
                    tailsLayer.getSource().clear();
                    tailsLayer.setVisible(false);
                }

                // Hace la petición para mostrar la ruta con el id_vehicle y la fecha de la ruta seleccionada
                if (routesLayer.getVisible() == false) {   // Si la capa de rutas está apagada, la enciende
                    routesLayer.setVisible(true);
                }
                muestraRutaPorFecha(id, fecha);

                //Hace zoom a la ruta mostrada
                zoomToRoute(routesLayer.getSource());

                console.log('Fecha seleccionada: ' + fecha);

            });

        }

        function limpiaFiltros() {
            $("#fecha_desde").val("");
            $("#fecha_hasta").val("");


            //Fechas por defecto
            var ahora = new Date();
            var fecha_ini = '20190901';  // fecha inicio 1 de septiembre de 2019
            var fecha_fin = '' + ahora.getFullYear() + (ahora.getMonth() + 1) + ahora.getDate();  // fecha hasta hoy

            peticion_http = new XMLHttpRequest();
            theUrl = ROOT + '/time/' + fecha_ini + '/' + fecha_fin;
            peticion_http.open('GET', theUrl, true);
            peticion_http.send(null);

        }

        $(document).ready(function () {
            // Crea estilos para los vehículos
            vehiclesJSON = getVehicles();
            numVehicles = vehiclesJSON.length;

            // Obtiene los conductores y los vehículos de la base de datos
            getDrivers();

            // Obtiene las últimas posiciones de todos los vehículos y los dibuja en el mapa
            ultimasPosicionesVehiculos = obtienePosicionActualVehiculos(vehiclesJSON);

            //Crea la capa Vector para albergar las posiciones de los vehículos
            creaCapaPosicionVehiculos();

            // Hace la petición para obtener las features de los vehiculos y los añade a la capa vehiclesLayer
            muestraPosicionVehiculos(ultimasPosicionesVehiculos);

            // hace zoom a los elementos
            zoomToFeature(vehiclesLayer.getSource());

            // Crea la capa para mostrar las colas de los vehículos
            creaCapaColasVehiculos();

            // Crea la capa para mostrar las rutas de los vehículos
            creaCapaRutasVehiculos();

            // Inicializa las capas de los vehículos
            //initializeLayers();

            //console.log('Llamada a createVehicleHTMLelements()');
            createVehicleHTMLelements();

            // Funcionalidad al mover el cursor para mostrar info del vehículo
            map.on('pointermove', function (evt) {
                if (evt.dragging) {
                    info.tooltip('hide');
                    return;
                }
                displayFeatureInfo(map.getEventPixel(evt.originalEvent));
            });

            map.on('click', function (evt) {
                displayFeatureInfo(evt.pixel);
            });


            // lanza las peticiones en bucle cada 5 segundos
           setInterval(updatePosition, 5000);
            function updatePosition() {
                console.log('actualiza!');

                // obtiene ultimas posiciones de los vehículos
                ultimasPosicionesVehiculos = obtienePosicionActualVehiculos(vehiclesJSON);

                // Actualiza las ultimas posiciones de los vehículos
                muestraPosicionVehiculos(ultimasPosicionesVehiculos);

                // Actualiza las colas de los vehículos
                if(currentVehicle.properties != undefined && tailsLayer.getVisible()==true){
                    muestraColaVehiculo(currentVehicle.properties.id_vehicle);
                };

                // Actualiza la ruta del vehículo seleccionado
                if (currentVehicle.properties != undefined && ultimaFechaCurrentVehicle!=undefined && routesLayer.getVisible()==true) {
                    muestraRutaPorFecha(currentVehicle.properties.id_vehicle, ultimaFechaCurrentVehicle);
                };
            }


            // Destello de la posicion actual de los vehículos visibles
            //setInterval(blinkPoint, 500);
            function blinkPoint() {
                /*
                for (var i = 0; i < numVehicles; i++) {
                    if(map.getLayers().getArray()[i + OFFSET_UP].getSource() != null){
                        if (map.getLayers().getArray()[i + OFFSET_UP].getVisible() == true) {
                            if (styles[i].endpoint.getImage().getOpacity() == 1) {
                                styles[i].endpoint.getImage().setOpacity(0)
                                map.getLayers().getArray()[i + OFFSET_UP].getSource().refresh()
                            } else {
                                styles[i].endpoint.getImage().setOpacity(1)
                                map.getLayers().getArray()[i + OFFSET_UP].getSource().refresh()
                            }
                        }
                    }
                }
            map.renderSync();
                */
            }

            // lanza las peticiones en bucle cada 5 segundos
            //setInterval(updatePosition, 5000);

            // Función que llama la función que actualiza la posicion de los vehículos
            /*
            function updatePosition() {
                //var d = new Date();
                updateVehiclesPosition();
                //console.log('Actualizar posición en: ' + d.toLocaleTimeString());
            }

             */

        });




