extends layout

block content
    div#toolbar.intro.container-fluid.col-md-12
        div.col-md-8
        div.col-md-4.hidden-xs(style="padding:0px;") Geolocalizaci칩n de objetos m칩viles
    .wrapper
        #formContent
            .fadeIn.first
                h1
                    span.fa.fa-lock  Registro de usuario nuevo
                img(src="/images/mapPNOA.jpg")
            form
                input(type="text" id="login" class="fadeIn second" name="login" placeholder="email usuario")
                input(type="text" id="password" class="fadeIn third" name="login" placeholder="contrase침a")
                input(type="submit" class="fadeIn fourth" value="Iniciar Sesi칩n")
            #formFooter
                a.underlineHover(href="/register") Registro de nuevo usuario
