extends layout

block content
    div
        div
            div.col-md-2
                button.btn.btn-primary.btn-block#btnDrivers(type="button" style="position: absolute; left: 3em; top:60 px;") Ver Conductores
        div.col-md-8(style="position: absolute; left: 10em; top: 60px;")
            div#listaderesultados

    script(type='text/javascript').
        function httpGet(theUrl) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, false); // false for synchronous request
            xmlHttp.send(null);
            return xmlHttp.responseText;
        }

        function verConductores() {
            console.log('peticion enviada');
            theUrl = 'http://localhost:3000/getDrivers';
            var respuesta = JSON.parse(httpGet(theUrl));

            var myItems = [], $listaderesultados = $('#listaderesultados');

            for (var i = 0; i < respuesta.length; i++) {
                var nombre = respuesta[i]['id_driver'];
                myItems.push("<a href='#" + nombre + "' class='list-group-item'><h4 class='list-group-item-heading'>" + respuesta[i]['id_driver'] + "</h4><p class='list-group-item-text'></p><p class='list-group-item-text'><em>Nombre:</em> " + respuesta[i]['name'] + " ; <em>Apellidos:</em> " + respuesta[i]['surname'] + "</p></a>");
            }

            //$('#listaderesultados').append(myItems.join(''));
            $('#listaderesultados').html(myItems.join(''));

            console.log(respuesta);
        }


        $('#btnDrivers').on('click', function () {
            verConductores();
        });
